*{
  overflow-x: hidden;
}

.users-page-container{
  display: flex;
  height: 80vh;
  width: 100vw;
 align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  flex-direction: column;
}

.heading{
  margin-top: 30px;
  margin-bottom: 30px;
}

.li{
  padding: 4px;
}

.deletebtn{
  padding: 5px 9px;
  font-size: 17px;
  border-radius: 3px;
  background-color: rgb(237, 71, 71);
  color: white;
  border: none;
  outline: none;
  margin-left: 40px;
  cursor: pointer;
}

.listdiv{
  height: 40px;
  width: full;
  margin: 10px 0px;
  display: flex;
  justify-content:center;
  align-items: center;
  /* flex-direction: column; */
}

.homepage{
  display: flex;
  height: 80vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 600;
  font-family: sans-serif;
}

.links{
  margin: 0px 20px;
}